@import "components/archivo";
@import "components/nosotros";
@import "components/ubicacion";
@import "components/trabajos";
@import "base/mixin";
@import "base/maps";

/* Index */
.bg-color{
    background-color: lightblue;
}

.parrafo:hover{
    color: red;
}

.nav-link:hover{
    font-size: 19px;
    color: blue;
}

.img1:hover{
    transform: translate(20px);
}
.img1{
    transition: all 0.8s;
}

.img2:hover{
    transform: translate(20px);
}
.img2{
    transition: all 0.8s;
}

.img3:hover{
    transform: translate(20px);
}
.img3{
    transition: all 0.8s;
}

.img4:hover{
    transform: translate(20px);
}
.img4{
    transition: all 0.8s;
}
/* Index*/