@import "components/archivo";
@import "components/nosotros";
@import "components/ubicacion";
@import "components/trabajos";
@import "base/mixin";
@import "base/maps";
@import "base/extend";

/* Index */

header{
    nav{
    background-color: lightblue;
        .nav-link{
            font-family: Georgia, 'Times New Roman', Times, serif;
            &:hover{
                color: blue;
            }
        }   
    }
}
.parrafo:hover{
    color: red;
}
.img1{
    transition: all 0.8s;
    &:hover{
        transform: translate(20px);
    }
}

.img2{
    transition: all 0.8s;
    &:hover{
        transform: translate(20px);
    }
}

.img3{
    transition: all 0.8s;
    &:hover{
        transform: translate(20px);
    }
}

.img4{
    transition: all 0.8s;
    &:hover{
        transform: translate(20px);
    }
}
/* Index*/