@import "../base/mixin";
@import "../base/maps";
/*Archivos*/
.h1-archivo{
    display: flex;
    justify-content: center;
}
/*Archivos*/

.img-archivo{
    padding: 0;
    margin: 0;
    width: 300px;
    height: 300px;
    transition: all 0.8s;
}

.img-archivo:hover{
    transform: rotate(360deg);
}

.vermas{
    @include vermas(flex, center, none);
}

.link{
    display: (map-get($link, display));
    text-decoration: (map-get($link, text-decoration));
    align-items: (map-get($link, align-items));

}

.boton{
    color: #0099CC;
  background-color: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
}

.boton:hover {
    background-color: #008CBA;
    color: white;
}
.boton1 {
    text-decoration: none;
    display:inline-block;
    width:100%;
    padding:10px;
    background: rgb(143, 143, 143);
    text-align: center;
    color:white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.9s ease;
    box-shadow: -5px 1px 3px 0px rgb(248, 70, 0);
    border-radius: 10px 30px;
    }

.boton1:hover{
    background: rgb(182, 187, 182);
    color:rgb(126, 126, 126);
    box-shadow:none;
    border-radius: 10px;
}

/*Fin archivos*/